html {
  font-size: 14px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--color-bg-page);
  -webkit-font-smoothing: antialiased;
}

html, body, #root {
  height: 100%;
}
